 * { margin:0px; padding:0px; -webkit-box-sizing:border-box; box-sizing:border-box;}
            body { font-family: 'Barlow', sans-serif; font-size:16px; color:#353535; font-weight:400; background:#f8f8f8; margin:0px; padding:0px;}
            .button {
                width:auto;
                min-width:130px;
                position:relative;
                display:inline-block;
                vertical-align:top;
                font-family: 'Barlow', sans-serif;
                font-size:18px;
                color:#000;
                font-weight:600;
                text-align:center;
                text-decoration:none;
                line-height:1;
                background:#00eb94;;
                border:none;
                border-radius:4px;
                -webkit-box-shadow:none;
                box-shadow:none;
                cursor:pointer;
                margin:0px;
                padding:14px 15px 16px 15px;
            }
            .button:hover {
                color:#FFF;
            }
            .main { width:1170px; max-width:100%; margin:0 auto; padding:0px 15px;;}
            .card { width:600px; display:block; text-align:center; background:#FFF; box-shadow:0 1px 15px rgba(0,0,0,.04),0 1px 6px rgba(0,0,0,.04); border-radius:10px; margin:50px auto; padding:30px 20px;}
            .card .card-title { width:100%; font-size:30px; color:#27529c; font-weight:700; line-height:1.2; margin:30px 0 30px 0;}
            .card .card-body { width:100%;}
            .card .card-body .btnbox { width:100%; margin:0 0 30px 0;}
            .card .card-body .btnbox .button { min-width:100px;}
            .card .card-body .listbox { width:100%;}
            .card .card-body .listbox ul { width:100%; list-style:none; margin:0px; padding:0px;}
            .card .card-body .listbox ul li { width:100%; list-style:none; font-size:16px; color:#353535; font-weight:500; text-align:left; line-height:1; background:#FFF; border:1px solid #e5e5e5; border-radius:5px; display:-webkit-box; display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap; flex-wrap:wrap; margin:0 0 10px 0; padding:15px 15px;}
            .card .card-body .listbox ul li .list-label { width:140px; float:left; color:#c9c9c9; font-weight:700;}
            .card .card-body .listbox ul li .list-text { width:calc(100% - 140px); float:left; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; padding:0 0 0 10px;}
			.logo img{width:28%;}
			
			.card h4 {
				font-size: 20px;
				font-weight: 400;
				margin: 0 0 30px 0;
			}